HELP.md

### Gradle ###
.gradle/
**/.gradle/
build/
**/gradle/wrapper/gradle-wrapper.jar
**/gradlew
**/gradlew/
**/gradlew.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### logs ###
*.log
logs/

### Environment files ###
.env
.env.*
!.env.example

### Node modules ###
node_modules/

### Grafana ###
grafana-dashboards/
